.container {
  width: 100%;
  max-width: 940px;
  position: relative;
  margin: 0 auto;
  @include clearfix;
//  @media @medium-screen {
//  width: 85%;
//}
//  @media @xsmall-screen {
//  width: 90%;
//}
}

@font-face {
  font-family: Georgia;
  src: url("../fonts/georgia.ttf");
}

/* Connect font "Tahoma-Regular"; */
@font-face {
  font-family: Tahoma;
  src: url("../fonts/tahoma.ttf");
}

@font-face {
  font-family: GillSansMT;
  src: url("../fonts/GIL_____.TTF");
}

@font-face {
  font-family: Verdana;
  src: url("../fonts/Verdana.ttf");
}

@font-face {
  font-family: Helvetica;
  src: url("../fonts/Helvetica.otf");
}

@font-face {
  font-family: Myriad_Pro;
  src: url("../fonts/Myriad_Pro.otf");
}


