@mixin clearfix() {
  &:before,
  &:after {
    display: table; // 2
    content: " "; // 1
  }
  &:after {
    clear: both;
  }
}

@mixin img-center{
  display: block;
  margin: 0 auto;
}

@mixin input{
  box-sizing: border-box;
  width: 100%;
  height: 33px;
  background-color: white;
  border: 1px solid #cfcfcf;
  border-radius: 4px;
  margin-bottom: 11px;
  font-family: Verdana;
  font-size: 10px;
  font-weight: 400;
  line-height: 14px;
  padding-left: 16px;
}

@mixin border-bottom{
  border-bottom: 1px dashed lightgrey;
}

$fa-font-path:   "../fonts/font-awesome-4.7.0/fonts";


$grey : #b7b7b7;

