@mixin clearfix() {
  &:before,
  &:after {
    display: table; // 2
    content: " "; // 1
  }
  &:after {
    clear: both;
  }
}

@mixin img-center{
  display: block;
  margin: 0 auto;
}

@mixin border-bottom{
  border-bottom: 1px dashed lightgrey;
}

$fa-font-path:   "../fonts/font-awesome-4.7.0/fonts";


$grey : #b7b7b7;

